@import url('https://fonts.googleapis.com/css2?family=Anton&family=PT+Mono&display=swap');


body {
    background-color: yellow;
    color:rgb(209, 124, 175);
    font-size: 20px;
    font-family: "PT Mono", monospace;
    font-weight: 400;
    font-style: normal;

}


h1 {text-align: center;
    color: rgb(209, 124, 175);
    font-size: 80px;
    font-family: "Anton",sans-serif;
  font-weight: 400;
  font-style: normal;
}


h2 {text-align: center;
    color: rgb(209, 124, 175);
    font-size: 60px;
    font-family: "Anton",sans-serif;
  font-weight: 400;
  font-style: normal;
}

h3 {text-decoration: underline;
    font-size: 40px;

}

a { text-decoration: none;
    color: rgb(209, 124, 175);

}

img {width: 50%;
    margin: auto;
    display: block;
    border-radius: 60px;

}

a:hover {
    text-decoration: underline;
}

